body {
    margin:100px;
    font-family:Arial;
}
form {
    display:flex;
    align-items:center;
    gap:10px;
}
input {
    width:300px;
}
/*#5dbb63*/
button {
    background-color:#000000;
    border-radius:4px;
    color:white;
    border:none;
    padding:3px 5px;
    font-weight:bold;
}