<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Reformatter</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        <h1 id="header">Recipe Reformatter</h1>
        <p id="instruction">Paste a recipe link in the text box below.</p>
        <form action="/printable" method="get">
            <input type="text" name="textInput">
            <button type="submit">GO</button>
        </form>
    </body>
</html>