<!DOCTYPE html>
<html>
	<head>
		<title>Printable Recipe</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
	</head>
	<body>
		<a href="/"><img id="home" src="https://static.vecteezy.com/system/resources/previews/000/366/438/original/home-vector-icon.jpg" alt="Home"></a>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		{{data}}
		<hr>
		{{data['author']}}
		<hr>
		{% for item in data['ingredients'] %}
        <li>{{ item }}</li>
        {% endfor %}
        <hr>
        {% for item in data['keywords'] %}
        <li>{{ item }}</li>
        {% endfor %}
        <hr>
        {% for key, value in data['nutrients'].items() %}
        <li>{{ key }}: {{ value }}</li>
        {% endfor %}

	</body>
</html>