body {
    margin:100px;
    font-family:Arial;
}
form {
    display:flex;
    align-items:center;
    gap:10px;
}
input {
    width:300px;
}
button {
    background-color:#5dbb63;
    border-radius:4px;
    color:white;
    border:none;
    padding:3px 5px;
    font-weight:bold;
}
#home {
    top:50px;
    left:50px;
    height:100px;
    width:100px;
    position:absolute;
}